[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
jupyter = "*"
redis = "*"
ipykernel = "*"
pandas = "*"
bokeh = "*"
tqdm = "*"
ipywidgets = "*"
pillow = "*"
torch = "*"
gobanana = {path = ".",editable = true}
pytest = "*"
jsonpickle = "*"

[requires]
python_version = "3.7"
